[Unit]
Description=Daily backup of mindustry-forge
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/var/www/mindustry-forge/deployment/backup.sh
